@model IEnumerable<NerdCore.Models.Juegos>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sinopsis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lanzamiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OtrosGeneros)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDesarrolladorNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdEstadoJuegoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGeneroJuegoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sinopsis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lanzamiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtrosGeneros)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDesarrolladorNavigation.Imagen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdEstadoJuegoNavigation.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdGeneroJuegoNavigation.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdJuego">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdJuego">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdJuego">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
