@using NerdCore.Models
@using NerdCore.Data
@inject ItemService objAnime


<div class="uk-section-muted uk-padding">
    <div class="uk-container">
        <h1 class="uk-text-center uk-heading-line uk-padding-small">Elementos en el sistema</h1>

        <!--Elemento para evitar problemas con el counter-->
        <h1 class="count" style="display:none">2222</h1>
        @if (aniObj != null)
        {
            <div class="uk-child-width-1-1 uk-text-center uk-flex-center uk-visible@l" uk-grid>
                <div>
                    <a href="Animes" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardAnime.jpg)">
                            <label id="l1" class="card-txt">ANIMES</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Juegos" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardGame.jpg)">
                            <label id="l1" class="card-txt">JUEGOS</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Mangas" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardManga.jpg)">
                            <label id="l1" class="card-txt">MANGAS</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Series" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardSerie.jpg)">
                            <label id="l1" class="card-txt">SERIES</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Peliculas" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardMovie.jpg)">
                            <label id="l1" class="card-txt">PELICULAS</label>
                        </div>
                    </a>
                </div>
                <div>
                    <a href="Libros" class="uk-link-reset">
                        <div class="uk-card uk-card-body uk-text-center card-bg" style="background-image:url(../img/BGCardBook.jpg)">
                            <label id="l1" class="card-txt">LIBROS</label>
                        </div>
                    </a>
                </div>
            </div>
        }

        <div class="uk-child-width-1-6@l uk-child-width-1-2@s uk-text-center uk-grid-collapse uk-flex-center" uk-grid>
            <div>
                <div class="uk-background-muted">
                    <a href="Animes" class="uk-link-reset">
                        <div class="uk-card uk-card-hover uk-card-body uk-text-center">
                            <label class="count uk-heading-primary">@TAnime</label>
                            <p>Animes</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-background-muted">
                    <a href="Animes" class="uk-link-reset">
                        <div class="uk-card uk-card-hover uk-card-body uk-text-center">
                            <label class="count uk-heading-primary">@TJuegos</label>
                            <p>Juegos</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-background-muted">
                    <a href="Animes" class="uk-link-reset">
                        <div class="uk-card uk-card-hover uk-card-body uk-text-center">
                            <label class="count uk-heading-primary">@TMangas</label>
                            <p>Mangas</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-background-muted">
                    <a href="Animes" class="uk-link-reset">
                        <div class="uk-card uk-card-hover uk-card-body uk-text-center">
                            <label class="count uk-heading-primary">@TSeries</label>
                            <p>Series</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-background-muted">
                    <a href="Animes" class="uk-link-reset">
                        <div class="uk-card uk-card-hover uk-card-body uk-text-center">
                            <label class="count uk-heading-primary">@TPeliculas</label>
                            <p>Peliculas</p>
                        </div>
                    </a>
                </div>
            </div>
            <div>
                <div class="uk-background-muted">
                    <a href="Animes" class="uk-link-reset">
                        <div class="uk-card uk-card-hover uk-card-body uk-text-center">
                            <label class="count uk-heading-primary">@TLibros</label>
                            <p>Libros</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>
</div>

@code {
    int TAnime = 0;
    int TJuegos = 0;
    int TMangas = 0;
    int TSeries = 0;
    int TPeliculas = 0;
    int TLibros = 0;
    List<VAnime> aniObj;
    List<VJuegos> jueObj;
    List<VManga> manObj;
    List<VSeries> serObj;
    List<VPelicula> pelObj;
    List<VLibros> libObj;

    protected override async Task OnInitializedAsync()
    {
        aniObj = await Task.Run(() => objAnime.GetAnimes());
        jueObj = await Task.Run(() => objAnime.GetJuegos());
        manObj = await Task.Run(() => objAnime.GetMangas());
        serObj = await Task.Run(() => objAnime.GetSeries());
        pelObj = await Task.Run(() => objAnime.GetPeliculas());
        libObj = await Task.Run(() => objAnime.GetLibros());
        contar();
    }

    private void contar()
    {
        TAnime = aniObj.Count();
        TJuegos = jueObj.Count();
        TMangas = manObj.Count();
        TSeries = serObj.Count();
        TPeliculas = pelObj.Count();
        TLibros = libObj.Count();
    }
}
